/* Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Variables */
:root {
    --font-size-large: 22px;
    --font-size-medium: 16px;
    --header-footer-color: #e6133c;
    --product-card-color: #075b07;
    --add-product-section-color: #03318C;
  }
  
  /* Global styles */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .title {
    font: 400 var(--font-size-large) "Press Start 2P", system-ui;
    height: 3.19rem;
    align-content: center;
    color: var(--product-card-color);
  }
  
  /* Header section */
  .header__content {
    display: flex;
    background-color: var(--header-footer-color);
    height: 6rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 0.5rem outset #c21b1b;
  }

  .product-header__title{
    color: #E5E5E5;
  }
  
  /* Product form styles */
  .product-form, .my-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    gap: 2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  }
  
  .product-form__title {
    color: var(--add-product-section-color);
  }
  
  .product-form__input {
    border: 0.1875rem solid var(--add-product-section-color);
    border-radius: 1.875rem;
    color: var(--add-product-section-color);
    height: 3.625rem;
    font: 600 1.5rem "IBM Plex Mono", monospace;
    padding: 0 1rem;
    transition: border-color 0.3s ease;
  }
  
  .product-form__input:focus {
    border-color: #ccc;
    outline: none;
  }
  
  .product-form__button-section {
    display: flex;
    justify-content: space-around;
    gap: 0.8125rem;
  }
  
  .product-form__button-section * {
    width: 10.25rem;
    border: none;
    border-radius: 0.9375rem;
    padding: 1rem 2rem;
    font: 500 1.25rem "IBM Plex Mono", monospace;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-form__button-section :first-child {
    background-color: var(--add-product-section-color);
    color: #FFFFFF;
  }
  
  .product-form__button-section :last-child {
    background-color: #FFFFFF;
    color: var(--add-product-section-color);
    border: 0.1875rem solid var(--add-product-section-color);
  }
  
  .product-form__button-section *:hover {
    background-color: #c490ff;
  }
  
  /* My products section */
  .input-search {
    display: flex;
    flex-direction: row;
    border: 0.1875rem solid var(--product-card-color);
    border-radius: 1.875rem;
    color: var(--product-card-color);
    height: 3.625rem;
    font: 600 1.5rem "IBM Plex Mono", monospace;
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .product-list__item {
    display: flex;
    flex-direction: column;
    width: 9rem; /* 11rem */
    height: 16.125rem;
    box-shadow: -0.313rem 0.375rem 0.206rem 0rem #00000040;
    border-radius: 0.625rem;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    gap: 0.5rem;
    font: var(--font-size-medium) "IBM Plex Mono", monospace;
    background-color: var(--product-card-color);
    color: #FFFFFF;
  }
  
  .product-list__image {
    width: 9rem; /* 11rem */
    height: 10.875rem;
    align-self: center;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
  }
  
  .product-list__price span {
    margin-right: 4.563rem;
    font-weight: 700;
  }
  
  .product-list__item h3 {
    border-bottom: 0.063rem solid #ccc;
    padding-bottom: 0.5rem;
  }
  
  .footer-content {
    align-content: center;
    background-color : var(--header-footer-color);
    height: 8.5rem;
    border: 0.5rem inset #ff2626;
    padding: 1rem;
    color: #E5E5E5;
  }
  
  .footer-content p {
    font: 600 var(--font-size-medium) "IBM Plex Mono", monospace;
    height: 2.188rem;
    align-content: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .footer-link {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .footer-link__item a i {
    padding-right: 0.5rem;
  }
  
  .footer-link__item a {
    font-size: var(--font-size-medium);
  }


  @media (min-width: 1071px) {

  }