@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* Font Weight Variables */
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Font Size Variables */
    --font-size-large: 1.375rem; 
    --font-size-medium: 1rem; 

    /* Color Variables */
    --header-footer-color: #ffc6d5;
    --add-product-section-color: #0e9390;
    --transparent: transparent;

    /* Font Family Variables */
    --font-family-press-start: 'Press Start 2P', system-ui;
    --font-family-ibm-plex: 'IBM Plex Mono', monospace;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(240, 233, 233, 0)), 
                url('../img/dark.svg');
    background-color: #f0e9e942;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}


/* ! GLOBAL */
.title {
    font: var(--font-weight-normal) var(--font-size-large) var(--font-family-press-start);
    align-content: center;
    color: #ffffffbd;
    letter-spacing: 0.2rem;
    line-height: 1.5;
}


/* Estilo para el formulario de productos y listado de productos */
.product-form,
.my-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}



/* ! HEADER SECTION */


.header__content {
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(180deg, #5512b2, #ded6d600);
}

/* ! ADD PRODUCTS SECTION */

.product-header__title {
    color: var(--header-footer-color);
    font-size: 1.5rem;
}

.product-form__title {
    color: #ffffffbd;
}


.stockQuantity {
    font: var(--font-weight-normal) var(--font-size-large) var(--font-family-ibm-plex);
    align-content: center;
    color: #ffffff94;
    line-height: 1.5;
}

.stockQuantity span {
    font-weight: 700;
}


input{
    background-color: #ffffffab;
    color: rgb(129, 129, 129);
    border: 0.1875rem solid #7066e0;
    border-radius: 1.875rem;
    height: 3.625rem; 
    font: var(--font-weight-semibold) 1.5rem var(--font-family-ibm-plex);
    padding: 0 1rem 0 3.5rem; 
    transition: border-color 0.3s ease;

}

input:focus {
    border-color: #7066e0; /* Cambia el color del borde al hacer focus */
    box-shadow: 0 0 1.5rem #7c70f8; /* Sombreado alrededor del input */
    outline: none; /* Elimina el contorno predeterminado */
}

/* Estilo para los campos de entrada del formulario */

.input-container {
    position: relative;
    display: inline-block;
}

.input-container lord-icon {
    position: absolute;
    top: 34%;
    left: 1rem; 
    transform: translateY(-50%);
    color: var(--add-product-section-color);
}

/* Estilo para contenedor de los botones */
.button_pair {
    display: flex;
    column-gap: 1.5rem;
    font: var(--font-weight-medium) var(--font-size-medium) var(--font-family-ibm-plex);
    color: white;
    padding-top: 0.9rem; 
    letter-spacing: 0.075rem;
    font-size: var(--font-size-small);
    transition: 0.1s ease-in-out;
}

.bttn_base {
    width: 9.7rem; 
    height: 3.7rem; 
    border-radius: 0.625rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

/* Botones */
.bttn_send {
    background-color: #0e939080;
    box-shadow: rgba(0, 0, 0, 0.377) 0.625rem 0.625rem 0.5rem, #2cf4fb85 0.125rem 0.125rem 0.625rem inset, #02989582 -0.25rem -0.25rem 0.0625rem inset;
}

.bttn_clean {
    background-color: #ffffffab;
    box-shadow: rgba(0, 0, 0, 0.377) 0.625rem 0.625rem 0.5rem, #a8a6a478 0.09375rem 0.09375rem 0.0625rem inset, #54525173 -0.2rem -0.2rem 0.5rem inset;
    color: #636363;
}

.bttn_send:active,
.bttn_clean:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 0, inset 0.03125rem 0.03125rem 0.25rem #000000;
    transform: translateY(0.5px);
}

/* ! MY PRODUCTS SECTION */

.input-search lord-icon {
    top:50%;
}


.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-list__item {
    display: flex;
    flex-direction: column;
    width: 9rem; 
    height: 13.5rem; 
    box-shadow: -0.3125rem 0.375rem 0.20625rem 0px #00000040;
    border-radius: 0.625rem;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    gap: 0.4rem;
    justify-content: space-between;
    font: var(--font-size-medium) var(--font-family-ibm-plex);
    background-color: #7f4d4d6b;
        color: #ffffffb3;
    
}



.product-list__item h3 {
    overflow: auto;
    font-weight: 500;
}

.product-list__item:hover{
    filter: saturate(2);
}

.product-list__image {
    width: 9rem; 
    min-height: 8.875rem; 
    align-self: center;
    border: 1px #c6bfbf solid;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    object-fit: cover;
}

.card-footer-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.card-divider {
    border-bottom: 1px solid #ccc;
    width: 100%;
}


.mensaje__Error-Titulo {
    font: var(--font-weight-bold) var(--font-size-large) var(--font-family-press-start);
    color: rgb(179, 14, 14);
    text-align: center;
    line-height: 2rem; 
    letter-spacing: 0.2rem;
}


 

/* ! FOOTER */

.footer-content {
    align-content: center;
    height: 8.5rem;
    border: 0.1rem #ded6d6;
    padding: 1rem;
    color: var(--header-footer-color);
    background-image: linear-gradient(360deg, #5512b2, #ded6d600);
}

.footer-content p {
    font: var(--font-weight-semibold) var(--font-size-medium) var(--font-family-ibm-plex);
    height: 2.188rem;
    align-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-link {
    display: flex;
    gap: 1rem;
    justify-content: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.footer-link__item a {
    color: darksalmon;
    font-size: var(--font-size-medium);
    font-family: var(--font-family-ibm-plex);
    font-weight: var(--font-weight-normal);
}

.footer-link__item a i {
    padding-right: 0.5rem;
}

.footer-link__item:hover {
    box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transform: scale(1.08);
}

.paginacion {
    display: inline-block;
}

.paginacion a {
    color: rgba(247, 247, 248, 0.744);
    float: left;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: var(--font-family-ibm-plex);
    margin: 0.5rem;
    transition: 0.1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.29) 0.625rem 0.625rem 0.5rem,
        #a8a6a4 0.094rem 0.094rem 0.0625rem inset, 
        #545251c7 -0.2rem -0.2rem 0.5rem inset;
}

.paginacion a.activo {
    background-color: #0252a0d4;
    background-color: #595f73d4;
    color: white;
}

.paginacion a:hover:not(.activo) {
    background-color: #0252a0d4;
    color: #FFFFFF;
}

.paginacion a:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 0, inset 0.03125rem 0.03125rem 0.25rem #000000,
        #049fc697 -0.2rem -0.2rem 0.5rem inset;
    transform: translateY(0.03125rem);
}



/* Estilo básico del error */
.error {
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.5s ease; /* Transición suave */
}

/* Estilo para mostrar el error */
.error.show {
    opacity: 1; /* Visible */
    color: hsl(86.37deg 93.92% 50.63% / 90%);
    margin-top: 0.5rem;
}

.disabled {
    box-shadow: rgba(0, 0, 0, 0.2) 0.625rem 0.625rem 0.5rem, #b0b0b0 0.125rem 0.125rem 0.625rem inset, #808080 -0.25rem -0.25rem 0.0625rem inset;
    background-color: #5857577a;
    color: #e6e6e6;
    ;
    pointer-events: none;
}


@media (min-width: 834px) {

    body {
        background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(240, 233, 233, 0.8)), 
                    url('../img/humo.png');
        background-color: #f0e9e942;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }

    .main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .product-form {
        width: 46%;
    }

    .my-products {
        width: 54%;
        overflow-y: auto;
    }

    .button_pair {
        justify-content: center;
    }

    .product-form__input {
        width: 23rem;
    }

    .bttn_base {
        width: 10.6rem;
    }

    .main-divider {
        width: 0.125rem;
        height: auto;
        background-color: #ded6d642;
    }

    .title{
        color: #4273a2;
    }

    .product-header__title {
        font-size: 2rem;
    }

    .product-form__title, .stockQuantity{
        color: var(--add-product-section-color);
    }

    
    .product-list__item{
        background-color: #ffffff78;
    color: rgb(129, 129, 129);
    }

    input{
        border: 0.1875rem solid var(--add-product-section-color);
    }

    .input-filter {
        border-color: #4273a2;
    }

    input:focus {
        box-shadow: 0 0 1rem #9305f162; /* Sombreado alrededor del input */
        outline: none; /* Elimina el contorno predeterminado */
    }

    .paginacion a{
        color: rgba(0, 0, 0, 0.715);
    }

    .error.show{
        opacity: 1;
        color: rgb(180 11 11 / 84%);
    }

    .paginacion a.activo {
        background-color: #0252a0d4;
    }

}

/* Personaliza la barra de desplazamiento */
::-webkit-scrollbar {
    width: 0.625rem;
    height: 0.625rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.625rem;
    border: 0.125rem solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/* Auto rellenado de inputs */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) ; /* Cambia a--transparente */
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset; /* Cambia a--transparente */
    -webkit-text-fill-color: rgb(129, 129, 129); /* Color del texto */
}
