@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* Font Weight Variables */
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Font Size Variables */
    --font-size-large: 1.375rem;
    /* 22px */
    --font-size-medium: 1rem;
    /* 16px */

    /* Color Variables */
    --header-footer-color: #c21b1b;
    --product-card-color: #f1f1f1;
    --add-product-section-color: #03318C;

    /* Font Family Variables */
    --font-family-press-start: 'Press Start 2P', system-ui;
    --font-family-ibm-plex: 'IBM Plex Mono', monospace;
}

body {
    background-image: url('../img/clouds.png');
}

/* ! GLOBAL */
.title {
    font: var(--font-weight-normal) var(--font-size-large) var(--font-family-press-start);
    height: 3.19rem;
    align-content: center;
    color: #075b07;
}

/* Estilo para el formulario de productos y listado de productos */
.product-form,
.my-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    gap: 2rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
}

/* ! HEADER SECTION */
.header__content {
    display: flex;
    background-color: var(--header-footer-color);
    height: 6rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 0.5rem outset var(--header-footer-color);
}

/* ! ADD PRODUCTS SECTION */
.product-header__title {
    color: #E5E5E5;
}

.product-form__title {
    color: var(--add-product-section-color);
}

/* Estilo para los campos de entrada del formulario */
.product-form__input {
    border: 0.1875rem solid var(--add-product-section-color);
    border-radius: 1.875rem;
    color: #03318C;
    height: 3.625rem;
    font: var(--font-weight-semibold) 1.5rem var(--font-family-ibm-plex);
    padding: 0 0 0 2.5rem;
    transition: border-color 0.3s ease;
}

.product-form__input:focus,
.input-search:focus-within {
    border-color: #ccc;
    outline: none;
}

/* Estilo para contenedor de los botones */
.button_pair {
    display: flex;
    column-gap: 1.5rem;
    font: var(--font-weight-medium) var(--font-size-medium) var(--font-family-ibm-plex);
    color: white;
    padding-top: 0.9rem;
    letter-spacing: 0.075rem;
    font-size: var(--font-size-small);
    transition: 0.1s ease-in-out;
}

.bttn_base {
    width: 9.7rem;
    height: 3.7rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

/* Botones */
.bttn_send {
    background-color: var(--add-product-section-color);
    box-shadow: rgba(0, 0, 0, 0.377) 0.625rem 0.625rem 0.5rem, #2c4bfb 0.125rem 0.125rem 0.625rem inset, #0256d4 -0.25rem -0.25rem 0.0625rem inset;
}

.bttn_clean {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.377) 0.625rem 0.625rem 0.5rem, #a8a6a4 0.09375rem 0.09375rem 0.0625rem inset, #545251 -0.2rem -0.2rem 0.5rem inset;
    color: #000000;
}

.bttn_send:active,
.bttn_clean:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 0, inset 0.03125rem 0.03125rem 0.25rem #000000;
    transform: translateY(0.5px);
}

/* ! MY PRODUCTS SECTION */
.input-search {
    display: flex;
    flex-direction: row;
    border: 0.1875rem solid var(--product-card-color);
    border-radius: 1.875rem;
    color: green;
    font: var(--font-weight-semibold) 1.5rem var(--font-family-ibm-plex);
    padding: 0 1rem;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    background-color: #FFFFFF;
    transition: border-color 0.3s ease;

}

.input-search input {
    height: 3.625rem;
    border-radius: 1.875rem;
}


.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-list__item {
    display: flex;
    flex-direction: column;
    width: 9rem;
    height: 13.5rem;
    /* 16.125rem*/
    box-shadow: -0.3125rem 0.375rem 0.20625rem 0px #00000040;
    border-radius: 0.625rem;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    gap: 0.4rem;
    justify-content: space-between;
    font: var(--font-size-medium) var(--font-family-ibm-plex);
    background-color: var(--product-card-color);
    color: #141313;
}

.product-list__image {
    width: 9rem;
    min-height: 8.875rem;
    align-self: center;
    border: 1px #c6bfbf solid;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    object-fit: cover;
}

.card-footer-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}


.card-divider {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.product-list__item h3 {
    overflow: auto;
}

.fa-trash-can:hover {
    color: #ff0000;
}


/* ! FOOTER */

.footer-content {
    align-content: center;
    background-color: var(--header-footer-color);
    height: 8.5rem;
    border: 0.5rem inset #ff2626;
    padding: 1rem;
    color: #E5E5E5;
}

.footer-content p {
    font: var(--font-weight-semibold) var(--font-size-medium) var(--font-family-ibm-plex);
    height: 2.188rem;
    align-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-link {
    display: flex;
    gap: 1rem;
    justify-content: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    
}

.footer-link__item a {
    font-size: var(--font-size-medium);
    font-family: var(--font-family-ibm-plex);
    /* Aplicando la variable de fuente aquí */
    font-weight: var(--font-weight-normal);
    /* Aplicando la variable de font-weight aquí */
}

.footer-link__item a i {
    padding-right: 0.5rem;
}

.paginacion {
    display: inline-block;
}

.paginacion a {
    color: black;
    float: left;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: var(--font-family-ibm-plex);
    /* Aplicando la variable de fuente aquí */
    margin: 0.5rem;
    transition: 0.1s ease-in-out;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.377) 0.625rem 0.625rem 0.5rem,
        #a8a6a4 0.094rem 0.094rem 0.0625rem inset, #545251 -0.2rem -0.2rem 0.5rem inset;
}

.paginacion a.activo {
    background-color: #16890B;
    color: white;
}

.paginacion a:hover:not(.activo) {
    background-color: #16890B;
    color: #FFFFFF;
}

.paginacion a:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0 0 0, inset 0.03125rem 0.03125rem 0.25rem #000000,
        #05d402 -0.2rem -0.2rem 0.5rem inset;
    transform: translateY(0.03125rem);
}

@media (min-width: 834px) {
    .main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .product-form {
        width: 46%;
    }

    .my-products {
        width: 54%;
        /* max-height: 600px; */
        overflow-y: auto;
    }

    .button_pair {
        justify-content: center;
    }

    .product-form__input {
        width: 27rem;
    }

    .bttn_base {
        width: 11.7rem;
    }

}




/* Personaliza la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
    /* Ancho de la barra vertical */
    height: 10px;
    /* Alto de la barra horizontal */
}

/* El fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color del fondo de la barra */
}

/* El pulgar (parte que se mueve de la barra) */
::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color del pulgar */
    border-radius: 10px;
    /* Redondea las esquinas del pulgar */
    border: 2px solid #fff;
    /* Añade un borde */
}

/* Cambiar el color del pulgar cuando esté en "hover" (al pasar el mouse por encima) */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.mensaje__titulo {
    font: var(--font-weight-bold) 2rem var(--font-family-ibm-plex);
    color: var(--header-footer-color);
    line-height: 3rem;
}

.validationSection {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border: 0.5rem inset #ff262617;
    width: 23rem;
    padding: 1rem;
    background: #ff000008;
    color: var(--add-product-section-color);
}

.validationSection span {
    color: var(--add-product-section-color);
}

.error {
    color: rgb(14, 13, 13);
    /* Color para los mensajes de error */
    font-family: var(--font-weight-normal) var(--font-size-small) var(--font-family-ibm-plex);
    /* Aplicando la variable de fuente aquí */


}

.error.bold {
    color: red;
    font-weight: bold;
    /* Peso de fuente negrita cuando hay un error */
}

.disabled {
    box-shadow: rgba(0, 0, 0, 0.2) 0.625rem 0.625rem 0.5rem, #b0b0b0 0.125rem 0.125rem 0.625rem inset, #808080 -0.25rem -0.25rem 0.0625rem inset;
    background-color: #d3d3d3;
    color: #2e2e2e;
}

.input-container {
    position: relative; /* Posiciona el contenedor relativamente */
    display: inline-block;
}

.input-container i {
    position: absolute;
    top: 50%;
    left: 10px; /* Ajusta esta distancia según el diseño */
    transform: translateY(-50%); /* Centra verticalmente el ícono */
    color: var(--add-product-section-color); /* Color del ícono */
}



.footer-link__item:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.08); /* Incremento leve en tamaño */
}
