@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Titulo del producto */
.product-header__title {
    font-family: 'Press Start 2P', system-ui;
    font-size: 2rem;
}

/* Animación del título del producto */
.product-header__title:after {
    content: "";
    width: 100%;
    height: 100%;
    line-height: 3rem; 
    animation: abomination1 7.5s linear 1;
    animation-fill-mode: forwards;
}

/* Definición de la animación */
@keyframes abomination1 {
    0% {
        content: "A";
    }
    12.5% {
        content: "AL";
    }
    25% {
        content: "ALU";
    }
    37.5% {
        content: "ALUR";
    }
    50% {
        content: "ALURA";
    }
    62.5% {
        content: "ALURA G";
    }
    75% {
        content: "ALURA GE";
    }
    87.5% {
        content: "ALURA GEE";
    }
    100% {
        content: "ALURA GEEK";
    }
}
